:root {
  --primary-color: #b84e39;
  --secondary-color: #fffdca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  background: var(--secondary-color);
}

h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
  color: var(--primary-color);
}

.container {
  max-width: 60%;
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
  background: #fff;
}

.container-2 {
  display: none;
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
}

input {
  border: 1px solid #d6d3d3;
  width: 100%;
  font-size: 1.2rem;
  padding: .5rem;
  margin: .5rem 0;
}

select {
  border: 1px solid #d6d3d3;
  width: 100%;
  font-size: 1.2rem;
  padding: .5rem;
  margin: .5rem 0;
  background: #fff;
}

select#status {
  margin-bottom: 30px;
}

input[type="submit"] {
  margin-bottom: 1rem;
  width: 100%;
  background: #fff;
  border: 1px #d6d3d3 solid;
}

input[type="submit"]:hover {
  background: #b84e39;
  border: 1px #b84e39 solid;
  color: #fffdca;
}

.title-count {
  display: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

table {
  font-size: 1.2rem;
  width: 100%;
}

th {
  padding: 1rem 0;
  text-align: left;
  font-size: 1.3rem;
}

td {
  padding: 1rem 0;
  border-bottom: 1px #d6d3d3 dotted;
}

a {
  color: gray;
  text-decoration: none;
}

button {
  width: 200px;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background: #fff;
  font-size: 1rem;
  margin: 1rem;
}

button:hover {
  background: var(--primary-color);
  color: #fff;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort {
  margin: 1rem;
}

footer {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
}

/* JS alert message classes */
.success, .error{
  color: white;
  padding: .5rem;
  margin: .5rem 0 1.5rem 0;
}

.success{
  background: rgb(18, 182, 18);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: .5rem;
}

.error{
  background: rgb(247, 58, 58);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: .5rem;
}

/* Media Queries */
@media(max-width: 500px){
  h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  .container {
    max-width: 98%;
  }

  label {
    margin-top: .5rem;
  }

  input[type="submit"] {
    margin-bottom: .5rem;
  }

  .title-count {
    margin-top: .5rem;
  }

  th, td {
    padding: .5rem;
  }

  .container-2 {
    padding: .3rem;
  }

  .footer-buttons {
    flex-direction: column;
  }

  button {
    margin: .5rem;
  }
}

@media(max-width: 768px){
  h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  .container {
    max-width: 90%;
  }

  .title-count {
    margin-top: .5rem;
  }
}