:root {
  --primary-color: #317256;
  --secondary-color: #52bf90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  background: var(--secondary-color);
}

h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
  margin-bottom: 50px;
  color: #f4f4f4;
  background: var(--primary-color);
  border-top: 5px black solid;
  border-bottom: 5px black solid;
}

.container {
  max-width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.container-2 {
  display: none;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 1.2rem;
}

input {
  border: 2px solid #d6d3d3;
  width: 100%;
  font-size: 1.2rem;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

select {
  border: 2px solid #d6d3d3;
  width: 100%;
  font-size: 1.2rem;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  background: #fff;
}

select#status {
  margin-bottom: 30px;
}

input[type="submit"] {
  margin-bottom: 20px;
  width: 100%;
  background: #fff;
  border: 2px #d6d3d3 solid;
  transition: .5s all ease-in;
}

input[type="submit"]:hover {
  background: #49ab81;
  border: 2px #49ab81 solid;
  color: #fff;
}

.title-count {
  display: none;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

table {
  font-size: 1.2rem;
  width: 100%;
}

th {
  padding: 10px 0;
  text-align: left;
  font-size: 1.3rem;
}

td {
  padding: 10px 0;
  border-bottom: 1px #d6d3d3 dotted;
}

a {
  color: gray;
  text-decoration: none;
}

button {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px;
  margin: auto;
  border: none;
  border-radius: 5px;
  background: #fff;
  font-size: 1rem;
  transition: .5s all ease-in;
}

button:hover {
  background: var(--primary-color);
  color: #fff;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding: 25px;
  border-top: 5px black solid;
  border-bottom: 5px black solid;
  background: var(--primary-color)
}

/* JS alert message classes */
.success, .error{
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success{
  background: rgb(18, 182, 18);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
}

.error{
  background: rgb(247, 58, 58);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
}

/* Media Queries */
@media(max-width: 500px){
  .container {
    max-width: 98%;
  }

  th, td {
    padding: 5px;
  }

  .container-2 {
    padding: 3px;
  }
}

@media(max-width: 768px){
  .container {
    max-width: 90%;
  }
}